@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Titillium+Web:wght@300&family=Young+Serif&display=swap');

.fontTitle{
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    text-align: center;
    margin: 0%;
    padding-top: 0%;
}

.container {
    display: flex;
    width: 250%;
    max-width: 900px;
    height: 900px; 
    background-color: #c01537;
    border: 2px solid #29b952;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
    padding: 20px;
    margin: 0 auto; 
    flex-direction: column;
    justify-content: space-between; 

}

.titlePapel{
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    margin: 0%;
    transform: translate(1%, 50%);

}

.titleVidro {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    margin: 0%;
    transform: translate(1%, -300%);
}

.titleMetal{
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    transform: translate(1%, -1230%);

}

.titlePlastico{
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    transform: translate(1%, -700%);
}

.papelAmassado1{
    display: flex;
    transform: translate(70%, -50%);
    width: 20%
}

.papelAmassado2{
    display: flex;
    transform: translate(450%, -260%);
    width: 9%
}

.garrafaVidro{
    display: flex;
    transform: translate(110%, -240%);
    width: 15%
}

.copoVidro{
    display: flex;
    transform: translate(390%, -470%);
    width: 10%
}

.copoPlastico{
    display: flex;
    transform: translate(120%, -510%);
    width: 15% 
}

.sacolaPlastico{
    display: flex;
    transform: translate(400%, -893%);
    width: 10% 
}

.tampaMetal{
    display: flex;
    transform: translate(200%, -1180%);
    width: 10% 
}

.lataMetal{
    display: flex;
    transform: translate(170%, -660%);
    width: 20% 
}

.flecha1{
    display: flex;
    transform: translate(1300%, -570%);
    width: 5% 
}

.flecha2{
    display: flex;
    transform: translate(1300%, -1070%);
    width: 5% 
}

.flecha3{
    display: flex;
    transform: translate(1300%, -1900%);
    width: 5% 
}

.flecha4{
    display: flex;
    transform: translate(1300%, -2850%);
    width: 5% 
}

.lixeiraVerde{
    display: flex;
    transform: translate(1650%, -700%);
    width: 5% 
}

.lixeiraAzul{
    display: flex;
    transform: translate(1650%, -1250%);
    width: 5% 
}

.lixeiraAmarela{
    display: flex;
    transform: translate(1650%, -2070%);
    width: 5% 
}

.lixeraVermelha{
    display: flex;
    transform: translate(1650%, -3050%);
    width: 5% 
}

.buttonContinuar{
    display: flex;
    transform: translate(1020%, -6150%);
    width: 8% ;
    background-color: #29b952;
    border-radius: 5px;
    cursor: pointer
}

.buttonContinuar:hover {
    background-color: #0056b3;
}






