@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.conteiner {
	display: flex;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Young Serif', serif;;
}

.box {
	width: 720px;
	height: 720px;
	background-color: #879b2c;
	border: 1px solid #000;
	padding: 20px;
	border-radius: 50px;
	border-style: double;
}

.div {
	display: flex;
	flex-direction: row;
	margin: 30px;
}

.titleBox {
	font-size: xx-large;
	margin: 50px;
	text-align: center;
}

.button {
	display: flex;
	vertical-align: top;
	margin-right: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	float: left;
}

.textPaperBlue {
	padding: 20px;
	color: blue;
	margin: 20px;
}

.textGlassGreen {
	padding: 20px;
	color: rgb(21, 255, 0);
	margin: 20px;
}

.textMetalYellow {
	padding: 20px;
	color: rgb(194, 235, 12);
	margin: 20px;
}

.textPlasticRed {
	padding: 20px;
	color: rgb(255, 0, 0);
	margin: 20px;
}

.imagemLataMetal{
	position: absolute;
	top: 48%;
	left: 42%;
	width: 100px;
	height: 100px;
}

.imagemCopoPlastico{
	position: absolute;
	top: 39%;
	left: 43%;
	width: 70px;
	height: 70px;
}

.imagemGarrfaVidro{
	position: absolute;
	top: 26%;
	left: 43%;
	width: 100px;
	height: 100px;
}

.imagemPapelAmssado1{
	position: absolute;
	top: 59%;
	left: 42%;
}

.copoDeVidro{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 50px;
}

.sacolaDePlastico{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 50px;
}

.papelAmssado2{
	position: absolute;
	top: 61%;
	left: 49%;
	width: 50px;
}

.tampaMetal{
	position: absolute;
	top: 51%;
	left: 50%;
	width: 50px;
}

.flexa{
	position: absolute;
	top: 30%;
	left: 55%;
}

.flexa2{
	position: absolute;
	top: 40%;
	left: 55%;
}

.flexa3{
	position: absolute;
	top: 51%;
	left: 55%;
}

.flexa4{
	position: absolute;
	top: 61%;
	left: 55%;
}

.tileLixeiraVerde{
	position: absolute;
	top: 30%;
	left: 60%;
	color: green
}

.tileLixeiraVermelha{
	position: absolute;
	top: 40%;
	left: 60%;
	color: red;
}

.tileLixeiraAmarela{
	position: absolute;
	top: 51%;
	left: 60%;
	color: yellow;
}

.tileLixeiraAzul{
	position: absolute;
	top: 61%;
	left: 60%;
	color: blue;
}