body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('./imagem/paisagem-em-branco-no-parque-natural-durante-o-dia_1308-62625.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h1Title {
  text-align: center;
  font-size: 70px;
}

.pPharse {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.button1{
  position: absolute;
  top: 700px;
  left: 100px;
  background-color: #f00707;
  color: rgb(0, 0, 0);
  border: 2px solid #f00707;
  border-radius: 25px;
  padding: 10px 20px;
  width: 200px; 
  height: 50px;
  cursor: pointer; 
  text-decoration: none;
  text-align: center;
  line-height: 50px; 
  font-weight: bold;
}

.button2{
  position: absolute;
  top: 700px;
  left: 1200px;
  background-color: #0fe40b;
  color: rgb(0, 0, 0);
  border: 2px solid #0fe40b;
  border-radius: 25px;
  padding: 10px 20px;
  width: 200px; 
  height: 50px; 
  cursor: pointer; 
  text-decoration: none;
  text-align: center;
  line-height: 50px; 
  font-weight: bold;
}